.about-intro1 {
    @include rem('font-size',28px);
    @include rem('margin',10px 0px);
}



.get {
    display:none;
}
 
#diagram {
    float:left;
    width:300px;
    height:300px;
}
.about-img {
    max-width:135px;
    height:auto;
    display:inline-block;
    @include rem('padding',5px);
    @include rem('margin',5px 10px);
    @include border-radius(4px);
    border:1px solid #ddd;
    -moz-box-shadow: 2px 2px 2px #eee;
    -webkit-box-shadow: 2px 2px 2px #eee;
    box-shadow: 2px 2px 2px #eee;
}
.about-img:hover {
    border:1px solid #ccc;
    -moz-box-shadow: 2px 2px 2px #ddd;
    -webkit-box-shadow: 2px 2px 2px #ddd;
    box-shadow: 2px 2px 2px #ddd;
}
 img.about-img {
    @include border-radius(4px);
}
.about-img-container {
    margin: 0 auto;
    width:85%;
    text-align:center;
}