.workspace {
    position:relative;
    @include rem('margin',20px 0);
    @include border-radius(400px);
    width:100%;
    border:1px solid #fff;
}
.workspace img {
    @include border-radius(400px);
    border:1px solid #fff;
    width:100%;
    z-index:400;
}
.workspace span { 

}
.workspace-background p {
    color:#000;
    z-index:9999;
    @include rem('margin',5px 30px);
}
.workspace-background {
    position:absolute;
    top:250px;
    left:0;
    background:#fff;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    @include rem('padding',5px);
    width:100%;
    z-index:999;
}

    