/*portfolio*/
.fdw-background { 
    background-color:rgba(0,0,0,0.6);
    opacity:0; 
    text-align:center; 
    width:100%; 
    @include rem('height',170px); 
}
.portfolio-item {
    font-size:26px;
    @include rem('margin',0 0 10px 0);
    padding:40px 40px 0; 
}

.portfolio-item h4 a:link, .portfolio-item h4 a:active, .portfolio-item h4 a:visited {
    font-size:26px; 
    color:#fff;
    @include rem('margin',0 0 10px 0);
    padding:40px 40px 0; 
}
.portfolio-item h4 a:hover {
    color:ffa800;
    text-decoration:underline;
}
.disuk {
    background:url(../images/work/disuk.png);
}
.mooi {
    background:url(../images/work/mooi.png);
}
.tmt {
    background:url(../images/work/tmt.png);
}
.abacus {
    background:url(../images/work/abacus.png);
}
.tape {
    background:url(../images/work/tape.png);
}
.dpp {
    background:url(../images/work/dpp.png);
}


.portfolio-item {
    border:1px solid #ccc;
    @include rem('padding',5px);
    @include rem('margin',15px);
}
