/*portfolio*/
.fdw-background { 
    background-color:rgba(0,0,0,0.6);
    opacity:0; 
    text-align:center; 
    width:100%; 
    @include rem('height',170px); 
}
.fdw-background h4{
    font-size:28px; 
    color:#fff!important;
    @include rem('margin',0 0 10px 0);
    padding:40px 40px 0; 
}
.portfolio-item {
    font-size:28px;
    @include rem('margin',0 0 10px 0);
    padding:40px 40px 0; 
}
.portfolio-item a:link {color:#fff;}

.disuk {
    background:url(../images/work/disuk.png);
}
.mooi {
    background:url(../images/work/mooi.png);
}
.tmt {
    background:url(../images/work/tmt.png);
}
.abacus {
    background:url(../images/work/abacus.png);
}
.tape {
    background:url(../images/work/tape.png);
}
.dpp {
    background:url(../images/work/dpp.png);
}


.portfolio-item {
    border:1px solid #ccc;
    @include rem('padding',5px);
    @include rem('margin',15px);
}
