/* CSS Document */
@import "../sass/_reset.scss"; 		// /* Do Not Remove */
@import "_vars.scss";				// /* Do Not Remove */
@import "../sass/_mixinlib.scss"; 	// /* Do Not Remove */
@import "../sass/_layout.scss"; 	// /* Do Not Remove */
@import "../sass/_typography.scss";
@import "../sass/_images.scss";
@import "../sass/_forms.scss";
@import "../sass/_buttons.scss";
// @import "../sass/_tables.scss";
@import "../sass/_menus.scss";
@import "../sass/_blog.scss";
@import "../sass/_homepage.scss";
@import "../sass/_icons.scss";
@import "../sass/_contact.scss";
@import "../sass/_about.scss";
@import "../sass/_work.scss";





.page-header {
   border-top:3px solid #ff8a00;
          
}  
.logo { 
    max-width:300px;
    width:100%;
    float:left;
}
.header { 
    @include rem('padding',5px);
    border-bottom:1px #ccc solid; 
}
.footer {
    @include rem('padding',5px);
    border-top:1px #ccc solid;
}

.centered { 
	margin:0 auto;
	width:90%; 
	text-align:center;
}      
.section { 
	border-bottom:1px solid #ccc;
	@include rem('margin-top',15px);
	@include rem('margin-bottom',20px);
	@include rem('padding',0 0 15px 0);
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
.fade-in.three {
-webkit-animation-delay: 1.8s;
-moz-animation-delay:1.8s;
animation-delay: 1.8s;
} 

/* #Media Queries
================================================== */

@media only screen and (min-width:960px) and (max-width:1060px) { }


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }