/* CSS Document */
@import "../sass/_reset.scss"; 		// /* Do Not Remove */
@import "_vars.scss";				// /* Do Not Remove */
@import "../sass/_mixinlib.scss"; 	// /* Do Not Remove */
@import "../sass/_layout.scss"; 	// /* Do Not Remove */
@import "../sass/_typography.scss";
@import "../sass/_images.scss";
@import "../sass/_forms.scss";
@import "../sass/_buttons.scss";
@import "../sass/_tables.scss";
@import "../sass/_menus.scss";
@import "../sass/_blog.scss";

.page-header {
   border-top:3px solid #ff8a00;
        
}
.logo {
    max-width:300px;
    width:100%;
    float:left;
}
.header {
    @include rem('padding',5px);
    border-bottom:1px #ccc solid;
}
.footer {
    @include rem('padding',5px);
    border-top:1px #ccc solid;
}
.portrait {
    max-width:300px;
    margin-left:125px;
    margin-top:90px;
}

.centered {
	margin:0 auto;
	width:90%;
	text-align:center;
}
.section {
	border-bottom:1px solid #ccc;
	@include rem('margin-top',15px);
	@include rem('margin-bottom',20px);
	@include rem('padding',0 0 15px 0);
}

.big-intro {
	@include rem('font-size',55px);
	@include rem('line-height',65px);
	@include rem('margin',120px 0 0 0);
	@include rem('padding',0 0 120px 0);
}



/* #Media Queries
================================================== */

@media only screen and (min-width:960px) and (max-width:1060px) {
	.big-intro {
		@include rem('font-size',45px);
		@include rem('line-height',55px);
		@include rem('margin',50px 0 0 0);
		@include rem('padding',0 0 50px 0);
		 }
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.big-intro {
		@include rem('font-size',40px);
		@include rem('line-height',50px);
		@include rem('margin',40px 0 0 0);
		@include rem('padding',0 0 40px 0);
		 }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.big-intro {
		@include rem('font-size',30px);
		@include rem('line-height',40px);
		@include rem('margin',20px 0 0 0);
		@include rem('padding',0 0 20px 0);
		 }		
    .portrait {
    max-width:300px;
    margin-left:0;
    margin-top:20px;
}
}